/*Author:Haripriya
Date:27/06/2023*/

table{
    outline: 3px solid rgb(151, 101, 101,0.5);
    border: 20px solid rgb(181, 205, 163,0.5);
    text-align: center;
    width: 95%;
    margin-top: 200px;
    margin-left: 30px;
    background-color: rgb(89, 136, 114,0.5);
}

tr,td,th{
    
    border-bottom: 3px solid rgb(221, 221, 221,0.5);
    font-size: 30px;
    color: white;
}